langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain_huggingface
pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
pinecone
numpy==1.26.4
faiss-cpu
wikipedia
youtube_search
langgraph